.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin-top: -50px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: slategrey;
    border-radius: 100px;
    height: 80%;
    width: 60%;
  }

  .image {
   margin-left:2%;
   float:left; 
   height:40px;
   width:40px;	
   }

  .heading {
    color: black;
    font-size: 2em;
  }

  .container1 {
    width:100%;
    height:auto;
    padding:1%;
    margin-left: 40%;
  }

  .container2 { 
    margin-top: 20px;
    margin-left: -40px;
  }

  .container3 {
    margin-left: 30px;
    margin-top: -70px;
  }