html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
    align-items: center;
    background-color: #ffffff;
  }
  
  .joinInnerContainer {
    width: 30%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .heading {
    color: black;
    font-size: 2em;
    padding-bottom: 10px;
  }
  
  .button {
      text-decoration: none;
      background: rgb(41, 212, 255);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: grey;
      width: 30%;
  }